<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
</head>

<body>

    <main class="background">
        <div id="app">
            <!-- COLONNA DI SINISTRA -->
            <div class="left-column">
                <!-- IO UTENTE -->
                <div class="container-top-row p-2">
                    <div class="user-image">
                        <img src="./img/avatar_io.jpg" alt="">
                    </div>
                    <div class="container-name p-2 ">
                        <!-- NOME UTENTE -->
                        <p>Sofia</p>
                    </div>
                    <!-- ICONE UTENTE -->
                    <div class="container-icon-sx text-end">icone</div>
                </div>
                <!-- notifiche -->
                <div class="left-notify content-padding d-flex p-2">
                    <div>
                        <i class="fa-solid fa-bell-slash fa-3x"></i>
                    </div>
                    <div class="flex-columns ps-2">
                        <div>
                            Ricevi notifiche messaggi
                        </div>
                        <div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                </div>
                <!-- SEARCH BAR UTENTI -->
                <div class="left-searchbar">
                    <div class="container-fluid pt-1">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="chat-container overflow-auto h-100vh">
                    <!-- V-FOR PER ITERARE SULL'ARRAY E STAMPARE I DATA -->
                    <div class="left-notify content-padding d-flex m-3" v-for="(utente, index) in contacts" :key="index"
                        @click="selectChat(index)" :class="{ selected: index === activeChatIndex }">
                        <div class="user-image">
                            <img :src="utente.avatar" alt="">
                        </div>
                        <div class="flex-columns ps-2">
                            <div>
                                {{utente.name}}
                            </div>
                            <div>
                                Ultimo messaggio inviato
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- COLONNA DI DESTRA -->
            <div class="right-column">
                <div class="container-top-row p-2">
                    <div class="user-image">
                        <img :src="activeChatAvatar" alt="">
                    </div>
                    <div class="container-name p-2 ">
                        <!-- NOME UTENTE -->
                        <p>{{activeChatName}}</p>
                    </div>
                    <!-- ICONE UTENTE -->
                    <div class="container-icon-sx text-end">icone</div>
                </div>
                <div class="chat-content">
                    <!-- Visualizzazione dei messaggi della chat attiva -->
                    <div v-for="(message, index) in activeChatMessages" :key="index"
                        :class="['message', message.status]">
                        {{ message.message }}
                    </div>
                </div>
                <!-- BOTTOM MSG BAR -->
                <div class="right-writebar d-flex p-2 container-fluid align-items-center">
                    <i class="fa-regular fa-face-smile fa-2x pe-2"></i>
                    <div class="input-group d-flex ">
                        <input type="text" class="form-control" placeholder="Scrivi un messaggio" aria-label="msg"
                            aria-describedby="basic-addon1"v-model="newMessage" @keyup.enter="sendMessage">
                    </div>
                    <i class="fa-solid fa-microphone fa-2x ps-2"></i>
                </div>




            </div>







        </div>


    </main>




    <!-- js -->
    <script src="main.js"></script>
</body>

</html>