/* Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
}

/* Reset Button */

button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 1rem;
  border-radius: 15px;
}

/* Common */



img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}


/* Main */

.background {
  width: 100%;
  height: 100vh;
  background: rgb(217, 219, 213);
  background: linear-gradient(0deg, rgba(217, 219, 213, 1) 75%, rgba(0, 150, 136, 1) 75%);
  display: flex;
  align-items: center;
}

#app {
  width: 1320px;
  height: calc(100% - 6rem);
  margin: 0 auto;
  background-color: blue;
  display: flex;
}

.left-column {
  width: 40%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.container-name{
  width: 45%;
}
.container-icon-sx{
  width: 45%;
}


.container-top-row{
  display: flex;
  flex-direction: row;
  
  background-color: lightgray;
}

.right-column {
  width: 70%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

/* Immagine utente */
.user-image {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
}

/* user image bigger */

.user-image-big {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: white;
}

/* Icone top-bar */

.top-row i {
  font-size: 1.4rem;
  padding: 0.2rem;
  color: #b0b0b0;
}

/* icona search bar sinistra */

.input-group i {
  color: #b0b0b0;
}

/* Icona campanella bianca */

.left-notify i {
  color: white;
}

/* Icona bar scrittura */

.right-writebar i {
  color: #868686;
}
